### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.ipr
*.iml
out/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

### H2 Database (persistent file DB) ###
data/*.mv.db
data/*.trace.db
data/*.lock.db

### Logs ###
*.log

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db

### Java ###
*.class
